.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 80px;
  user-select: none;
}

.valueWrapper {
  position: relative;
  display: inline-flex;
  justify-content: center;
  font-family: 'Urbanist', sans-serif;
  font-size: 42px;
  font-weight: 300; 
  color: var(--sys-color-text-primary);
  line-height: 1.2;
  margin: 0;
}

.unit {
  position: absolute;
  left: 100%;
  top: 0;
}

.label {
  font-size: 15px;
  color: var(--sys-color-text-secondary);
  margin-top: 0px;
  font-family: 'SUIT Variable', sans-serif;
}
